{% if title -%}
<pre>{{ title }}</pre>
{%- endif %}
{%- for alert in alerts %}
{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}<b>{{ alert['status']|upper }}</b>{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}
{% for annotation in alert['annotations'] -%}
<b>{{ annotation|e }}</b>: <code>{{ alert['annotations'][annotation]|e }}</code>
{% endfor %}
{% if not exclude_labels -%}
{% for label in alert['labels'] -%}
<b>{{ label | e }}</b>: <code>{{ alert['labels'][label]|e }}</code>
{% endfor %}
{% endif -%}
<b>Since:</b> <code>{{ alert['startsAt'] }}</code>
{% if alert['status'] != 'firing' %}<b>Ended:</b> <code>{{ alert['endsAt'] }}</code>
{% endif %}<b>Generator</b>: {{ alert['generatorURL'] }}
{% endfor -%}
<b>Alertmanager URL:</b> {{ external_url }}
