{% if title -%}
**{{ title }}**
{% endif %}
{% for alert in alerts %}

{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}**{{ alert['status']|upper }}**{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}

{% for annotation in alert['annotations'] | reverse -%}
**{{ annotation | safe }}**: `{{ alert['annotations'][annotation] | safe }}`  
{% endfor %}

{% if not exclude_labels -%}
{% for label in alert['labels'] -%}
**{{ label | safe }}**: {{ alert['labels'][label] | safe }}
{% endfor -%}

{%- endif %}
**Since**: `{{ alert['startsAt'] }}`  
{% if alert['status'] != 'firing' %}**Ended:** `{{ alert['endsAt'] }}`  
{% endif %}**Generator**: [Prometheus Query]({{ alert['generatorURL'] }})  
{% endfor -%}
**Alertmanager URL**: [View Alerts on Alertmanager]({{ external_url }}/#/alerts?receiver={{ receiver | urlencode }})
