{% if a and 'alerts' in a -%}
<b>{{ a['alerts']|length }} alert{% if a['alerts']|length > 1 %}s{% endif %} received</b>
{%- for alert in a['alerts'] %}

{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}<b>{{ alert['status']|upper }}</b>{% if alert['status'] == 'firing' %}🔥{% else %}✅{% endif %}
{% for label in alert['labels'] -%}
<b>{{ label | e }}</b>: {{ alert['labels'][label]|e }}
{% endfor -%}

{% for annotation in alert['annotations'] -%}
<b>{{ annotation|e }}</b>: {{ alert['annotations'][annotation]|e }}
{% endfor -%}

<b>Since:</b> {{ alert['startsAt'] }}
{% if alert['status'] != 'firing' %}<b>Ended:</b> {{ alert['endsAt'] }}
{% endif %}<b>Generator:</b> {{ alert['generatorURL'] }}
{%- endfor %}

{% endif %}
